<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap'>
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <script src="/js/resetAvatar.js"></script>
    <script src="/js/uploadAvatar.js"></script>
</head>
<body>
    <div class="main-bg">
        <div class="go-back-wrapper">
            <button class="go-back-button" onclick="history.back()">
                <i class='bx bxs-arrow-from-right' ></i>
            </button>
        </div>

        <header class="game-header">
            <h1><%= user.username %>'s Credentials</h1>
        </header>

        <div class="user-id">
            <div class="avatar">
                <img
                id="avatar-img"
                src="/<%= user.avatar_url %>?v=<%= Date.now() %>"
                alt="Avatar"
                >
            </div>

            <div class="info">
                <p><b>Name</b><br><%= user.username %></p>
                
                <% 
                const d = new Date(user.created_at);
                const formatted = `${String(d.getDate()).padStart(2, '0')}/${String(d.getMonth()+1).padStart(2, '0')}/${String(d.getFullYear()).slice(-2)}`;
                %>

                <p><b>Date joined</b><br><%= formatted %></p>
            </div>
        </div>
        
        <div class="button-row">
            <form id="avatar-form" action="/api/images/avatar" method="POST" enctype="multipart/form-data">
                <input type="file" id="avatar-upload" name="avatar" accept="image/*" style="display: none;">
                <button type="button" class="avatar-button" id="upload-trigger">Choose new Avatar</button>
            </form>

            <form id="avatar-reset" action="/api/images/avatar/reset" method="POST">
                <button class="avatar-button" type="submit">Reset to Default</button>
            </form>
        </div>          
    </div>

</body>
</html>